<nav class="w-full bg-white border-b-2 py-4 px-2 md-px-0">
  <div class="max-w-4xl mx-auto">
    <div class="flex items-center justify-between">
      <div>people.db</div>
      <div>
        <%= link_to 'new_contact', new_contact_path, class: 'inline-block mr-4 rounded-md border p-2 bg-blue-500 hover:bg-blue-400 text-white outline-none' %>
        <div class="inline-block">sign_out</div>
      </div>
    </div>
  </div>
</nav>
